
* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: IRANSansWeb;
    font-family: GramatikaBold, sans-serif;
    direction: ltr;
}


@font-face {

    font-family: IRANSansWeb;
    src: url("../public/font/IRANSansWeb.ttf") format("truetype"),
    url('../public/font/IRANSansWeb.eot') format("embedded-opentype");

}


@font-face {

    font-family: Yek;
    src: url("../public/font/Yek/Yekan.ttf") format("truetype"),
    url('../public/font/Yek/Yekan.eot') format("embedded-opentype");

}


a {
    color: white !important;
    font-size: 10pt;
    padding: 10px;
    list-style: none !important;
    text-decoration: none !important;
}

a:hover {

    color: white !important;
    cursor: none;
}

body {
    background: 50% /contain url("../public/image/universe.png") #020220 !important;
    color: white;
    cursor: none;
}

h3::selection {
    color: #ff4918;
}


.activeMenu {
    transition: all 0.7s !important;
    transform: translateX(0);
    display: flex !important;
}


.nav > ul {
    transition: all 0.3s;
    margin: 0;
}

.right-eye {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(36, 27, 27) none repeat scroll 0 0;
    display: block;
    position: absolute;
    right: 4px;
    top: 10px;
    transition: all 0.2s;

}

.left-eye {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(36, 27, 27) none repeat scroll 0 0;
    display: block;
    position: absolute;
    left: 4px;
    top: 10px;
    transition: all 0.2s;

}

.nose {
    width: 2px;
    height: 7px;
    background: rgb(36, 27, 27) none repeat scroll 0 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14px;
    transition: all 0.2s;
}

